@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* อนิเมชันตอนเปิดหน้าจอ */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-in {
  animation: fade-in 0.6s ease-out forwards;
}
@keyframes scan {
  0% { transform: translateY(0); }
  100% { transform: translateY(100vh); }
}

.animate-scan {
  animation: scan 3s linear infinite;
}

.animate-spin-slow {
  animation: spin 6s linear infinite;
}
